{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil

{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>Hello {{ app.user.userIdentifier}}, bienvenue dans ta Bucket List,</h1>

    {% else %}
        <h1>Bienvenue sur Bucket List,</h1>
        <p>Ici tu pourras faire la liste de tout ce que tu veux faire dans ta vie.</p>
    {% endif %}


    <div class="carousel">
        <div class="card card1">
            <img src="{{ asset('img/wish1.jpg') }}" alt="">
            <figcaption>"Stéphane : Je veux sauter en wingsuit"</figcaption>
        </div>

        <div class="card card2">
            <img src="{{ asset('img/wish2.jpg') }}" alt="">
            <figcaption>"Dylan : je pensais que ma dignité était sous l'eau, mais non..."</figcaption>
        </div>

        <div class="card card3">
            <img src="{{ asset('img/wish3.jpg') }}" alt="">
            <figcaption>"Alice : Je veux monter l'Everest parce que je suis une giga chad"</figcaption>
        </div>

        <div class="boutons">

        </div>
    </div>

{% endblock %}
