<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/iconBucket.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>{% block title %}Bucket List !{% endblock %}</title>
</head>
<body>

<div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/bucketList.svg') }}" alt="Logo bucketList"></a>
        </h1>
        {{ include('menu/nav.html.twig') }}

        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </header>

    <main>
        <div class="content">
            {% block body %} {% endblock %}
        </div>
    </main>


    <footer>
        <p>©Bucket List {{ 'now' | date('Y') }}</p>
    </footer>


</div>

</body>
</html>
