<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" href="{{ asset('img/iconBucket.png') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <title>{% block title %}Bucket List !{% endblock %}</title>
</head>
<body>

<div class="container">
    <header>
        <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/bucketList.svg') }}" alt="Logo bucketList"></a>
        </h1>
        {{ include('menu/nav.html.twig') }}
    </header>

    <main>
        {% block body %} {% endblock %}

    </main>


    <footer>
        <p>©Bucket List {{ 'now' | date('Y') }}</p>
    </footer>


</div>

</body>
</html>
