<nav>
    <ul>
        {% if app.user %}
            <li><a href="{{ path('main_home') }}">Accueil</a></li>
            <li><a href="{{ path('wish_add') }}">Make a wish</a></li>
            <li><a href="{{ path('wish_list') }}">Liste</a></li>
            <li><a href="{{ path('main_about') }}">About us</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter ({{ app.user.username }})</a></li>
        {% else %}
            <li><a href="{{ path('main_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
            <li><a href="{{ path('main_about') }}">About us</a></li>
        {% endif %}
    </ul>
</nav>